div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.sports {
  width: 90%;
  margin: 0 auto;
}
#frames {
  width: 100%;
  background-color: #f8f8f8;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: none;
}

iframe {
  width: 100%;
  height: 600px;
  border: none;
  overflow: hidden !important;
}

@media (max-width: 1150px) {
  #frames {
    flex-wrap: wrap;
  }
}
